<%= form_for @channel, :html => { :class => "form-horizontal channel" } do |f| %>

    <% if @channel.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @channel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'form-control' %>
    </div>
    <%= error_span(@channel[:username]) %>
  </div>

  <div class="control-group">
    <%= f.label :ch_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ch_id, :class => 'form-control' %>
    </div>
    <%= error_span(@channel[:ch_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :joined, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :joined, :class => 'form-control' %>
    </div>
    <%= error_span(@channel[:joined]) %>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@channel[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@channel[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :published_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :published_at, :class => 'form-control' %>
    </div>
    <%= error_span(@channel[:published_at]) %>
  </div>
  <div class="control-group">
    <%= f.label :thumbnail_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :thumbnail_url, :class => 'form-control' %>
    </div>
    <%= error_span(@channel[:thumbnail_url]) %>
  </div>

  <h5>Regions</h5>
  <%= hidden_field_tag "channel[region_ids][]", nil %>
    <% Region.all.each do |r| %>
      <%= check_box_tag "channel[region_ids][]", r.id, @channel.region_ids.include?(r.id), id: dom_id(r)  %>
      <%= label_tag dom_id(r), r.name %>
      <br/>
    <% end %>
  <h5>Team</h5>
  <%= hidden_field_tag "channel[team_ids][]", nil %>
    <% Team.all.each do |r| %>
      <%= check_box_tag "channel[team_ids][]", r.id, @channel.team_ids.include?(r.id), id: dom_id(r)  %>
      <%= label_tag dom_id(r), r.name %>
      <br/>
    <% end %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            channels_path, :class => 'btn btn-default' %>

<% end %>
