<%- model_class = Channel -%> 
<p class="pull-right">At <%= Time.now.getlocal.strftime("%F %R") %>, refresh every 3hrs</p>
<div class="page-header">
  <h1>Creators Dashboard </h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th>Creator</th>
      <th style="text-align:right; padding-right:10px; "><%= model_class.human_attribute_name(:video_count) %></th>
      <th style="text-align:right; padding-right:10px; "><%= model_class.human_attribute_name(:subcriber_count) %></th>
      <th style="text-align:right; padding-right:10px; "><%= model_class.human_attribute_name(:view_count) %></th>
      <th style="text-align:right; padding-right:10px; "><%= model_class.human_attribute_name(:comment_count) %></th>
      
      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @channels.each_with_index do |channel, i| %>
    <% delta = channel.channel_statistics.offset(1).last %>
    <tr <%= "class=joined" if channel.joined %> onClick=document.location=<%= "'#{channel_path(channel)}'" %>; style="cursor: pointer;">
      <td><%= i+1 %></td>
      <td>
        <div class="media">
          <div class="media-left pull-left">
            <a href="<%= channel_path(channel) %>">
              <%= image_tag(channel.thumbnail_url, :class => "media-object", :style => "width:64px; height: 64px;") %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= channel.title %></h4>
            <p><%= channel.description %></p>
            <%= "From #{channel.published_at.to_date}" if channel.published_at %>
          </div>
        </div>
      </td>
      <td style="text-align:right; padding-right:10px; "><%= number_with_delimiter(channel.video_count) if channel.video_count %><%= num_diff(channel.video_count, delta.video_count) if delta %></td>
      <td style="text-align:right; padding-right:10px; "><%= number_with_delimiter(channel.subscriber_count) if channel.subscriber_count %><%= num_diff(channel.subscriber_count, delta.subscriber_count) if delta %></td>
      <td style="text-align:right; padding-right:10px; "><%= number_with_delimiter(channel.view_count) if channel.view_count %><%= num_diff(channel.view_count, delta.view_count) if delta %></td>
      <td style="text-align:right; padding-right:10px; "><%= number_with_delimiter(channel.comment_count) if channel.comment_count %><%= num_diff(channel.comment_count, delta.comment_count) if delta %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_channel_path,
            :class => 'btn btn-primary' %>
