<%- model_class = Channel -%>
<p class="pull-right">At <%= Time.now.getlocal.strftime("%F %R") %>, refresh every 12hrs</p>
<div class="page-header">
  <h1><%= @channel.title %></h1>
</div>

  <div class="media">
    <div class="media-left pull-left">
      <a href="#">
        <%= image_tag @channel.thumbnail_url, :class => "media-object" %>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= @channel.title %></h4>
      <p><%= @channel.description %></p>
        <ul class="list-unstyled">
          <li>Since  <%= @channel.published_at.to_date %></li>
          <li>Videos  <%= number_with_delimiter(@channel.video_count) %></li>
          <li>Views  <%= number_with_delimiter(@channel.view_count) %></li>
          <li>Subscribers  <%= number_with_delimiter(@channel.subscriber_count) %></li>
          <li>Views Per Video <%= number_with_delimiter(@channel.view_count / @channel.video_count) %></li>
          <li>Subsribers Per Video <%= number_with_delimiter(@channel.subscriber_count / @channel.video_count) %></li>
          <li>주요 활동 국가  <% @channel.regions.each do |r| %><%=  r.name %><% end %></li>
        </ul>
    </div>
  </div>         
<% if @channel_stats %>
<!--  
<%= line_chart [
            {name: "Videos", data: @channel_stats.group_by_day(:created_at).maximum("video_count")}, 
            {name: "Views", data: @channel_stats.group_by_day(:created_at).maximum("view_count")},
            {name: "Subscribers", data: @channel_stats.group_by_day(:created_at).maximum("subscriber_count")}
              ] %>

-->     
<h3>Stats <small>채널 통계</small></h3>
<h4>Videos <small>비디오 통계</small></h4>
<%= line_chart @channel_stats.group_by_day(:created_at).maximum("video_count"), min: (@channel_stats.pluck(:video_count).min.to_f / 10).round * 10 - 5, max: (@channel_stats.pluck(:video_count).max.to_f / 10).ceil * 10 + 5  %>
<%= #line_chart @stats.map { |stat| {name: stat.title, data: stat.group_by_day(:created_at).maximum("video_count") }} 
%>
<h4>Views <small>조회수 통계</small></h4>
<%= line_chart [{name: "#{@channel.title}", data: @channel_stats.group_by_day(:created_at).maximum("view_count")}, ], min: (@channel_stats.pluck(:view_count).min.to_f / 10).round * 10, max: (@channel_stats.pluck(:view_count).max.to_f / 10).ceil * 10 %>
<h4><small>평균 조회수 통계(Views per video)</small></h4>
<%= line_chart [{ name: "#{@channel.title} 평균" , data: @channel_stats.group_by_day(:created_at).maximum("view_count / video_count")}, {name: "#{@channel.regions.first.name} 평균", data: @re_stats.where(created_at: @channel_stats.first.created_at..@channel_stats.last.created_at).group_by_day("created_at").average("view_count / video_count") }], min: (@channel_stats.pluck("view_count / video_count").min.to_f / 10).round * 10, max: (@channel_stats.pluck("view_count / video_count").max.to_f / 10).ceil * 10 %>
<h4>Subscriber <small>구독자 통계</small></h4>
<%= line_chart @channel_stats.group_by_day(:created_at).maximum("subscriber_count"), min: (@channel_stats.pluck(:subscriber_count).min.to_f / 10).round * 10, max: (@channel_stats.pluck(:subscriber_count).max.to_f / 10).ceil * 10 %>
<h4><small>구독 유치 통계(Subscribers per video)</small></h4>
<%= line_chart [{name: "#{@channel.title} 평균", data: @channel_stats.group_by_day(:created_at).maximum("subscriber_count / video_count")}, {name: "#{@channel.regions.first.name} 평균", data: @re_stats.where(created_at: @channel_stats.first.created_at..@channel_stats.last.created_at).group_by_day("created_at").average("subscriber_count / video_count") }], min: (@channel_stats.pluck("subscriber_count / video_count").min.to_f / 10).round * 10, max: (@channel_stats.pluck("subscriber_count / video_count").max.to_f / 10).ceil * 10 %>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Detail <small>통계 상세</small>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table">
          <tr>
            <th>Date</th>
            <th style="text-align:right; padding-right:10px; ">Video #</th>
            <th style="text-align:right; padding-right:10px; ">View #</th>
            <th style="text-align:right; padding-right:10px; ">Comments #</th>
            <th style="text-align:right; padding-right:10px; ">Subscriber #</th>
          </tr>

        <% delta = @channel_stats.first %>
        <% @channel_stats.each_with_index do |stat, i| %>

          <tr >
            <td><%= stat.created_at.getlocal.strftime("%F %R") %></td>
            <td style="text-align:right; padding-right:10px; "><%= link_to number_with_delimiter(stat.video_count), channel_videos_path(@channel.id) %><%= num_diff(stat.video_count, delta.video_count) if i != 0  %></td>
            <td style="text-align:right; padding-right:10px; "><%= number_with_delimiter(stat.view_count) %><%= num_diff(stat.view_count, delta.view_count) if i != 0  %></td>
            <td style="text-align:right; padding-right:10px; "><%= number_with_delimiter(stat.comment_count) %><%= num_diff(stat.comment_count, delta.comment_count) if i != 0  %></td>
            <td  style="text-align:right; padding-right:10px; "><%= number_with_delimiter(stat.subscriber_count) %><%= num_diff(stat.subscriber_count, delta.subscriber_count) if i != 0  %></td>
          </tr>
        <% delta = stat %>
        <%  end %>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
<h3>Playlist </h3>
<% if @playlists %>
  <table class="table">
    <tr>
      <th>Playlist Title</th>
      <th>Description</th>
      <th>Tags</th>
    </tr>
  <%  @playlists.order("published_at DESC").each do |pl| %>
    <tr >
      <td><%= link_to image_tag(pl.thumbnail_url), pl %><br/><%= pl.title %></td>
      <td><%= pl.description %></td>
      <td><%= pl.tags %></td>
    </tr>
  <%  end %>
</table>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h3>Videos <small>최신 5개 비디오</small></h3>
    <% if @videos %>
      <%  @videos.order("published_at DESC").limit(5).each do |v| %>
        <div class="media">
          <div class="media-left pull-left">
            <a href="<%= video_path(v) %>">
              <%= image_tag(v.thumbnail_url, :class => "media-object") %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= v.title %></h4>
            <%= v.description %>
            <ul class="list-unstyled">
              <li>Uploaded  <%= v.published_at.to_date %></li>
              <li>Views  <%= number_with_delimiter(v.view_count) %></li>
              <li>Likes  <%= number_with_delimiter(v.like_count) %></li>
              <li>Comments  <%= number_with_delimiter(v.comment_count) %>
            </ul>
          </div>
        </div>
      <%  end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h3>Videos <small>인기 5개 비디오</small></h3>
    <% if @videos %>
      <%  @videos.order("view_count DESC").limit(5).each do |v| %>
        <div class="media">
          <div class="media-left pull-left">
            <a href="<%= video_path(v) %>">
              <%= image_tag(v.thumbnail_url, :class => "media-object") %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= v.title %></h4>
            <%= v.description %>
            <ul class="list-unstyled">
              <li>Uploaded  <%= v.published_at.to_date %></li>
              <li>Views  <%= number_with_delimiter(v.view_count) %></li>
              <li>Likes  <%= number_with_delimiter(v.like_count) %></li>
              <li>Comments  <%= number_with_delimiter(v.comment_count) %>
            </ul>
          </div>
        </div>
      <%  end %>
    <% end %>
  </div>
</div>

<div class="row">
    <ol class="breadcrumb">
      <li><%= link_to t('.back', :default => t("helpers.links.back")),
                  channels_path, :class => 'btn btn-default'  %></li>
      <li> <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_channel_path(@channel), :class => 'btn btn-default' %></li>
    </ol>
</div>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  channel_path(@channel),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' if user_signed_in? && current_user.email.include?("jwchae") %>


