<%- model_class = Channel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:ch_id) %>:</strong></dt>
  <dd><%= @channel.ch_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @channel.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @channel.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:published_at) %>:</strong></dt>
  <dd><%= @channel.published_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:thumbnail_url) %>:</strong></dt>
  <dd><%= image_tag @channel.thumbnail_url %></dd>
</dl>

<% if @channel_stats %>
<table class="table">
  <tr>
    <th>Date</th>
    <th>Video #</th>
    <th>View #</th>
    <th>Comments #</th>
    <th>Subscriber #</th>
  </tr>

<%  @channel_stats.each do |stat| %>
  <tr >
    <td><%= stat.created_at.getlocal.strftime("%F %R") %></td>
    <td style="text-align:right;"><%= link_to number_with_delimiter(stat.video_count), channel_videos_path(@channel.id) %></td>
    <td style="text-align:right;"><%= number_with_delimiter(stat.view_count) %></td>
    <td style="text-align:right;"><%= number_with_delimiter(stat.comment_count) %></td>
    <td style="text-align:right;"><%= number_with_delimiter(stat.subscriber_count) %></td>
  </tr>
<%  end %>
</table>
<% end %>

<% if @playlists %>
  <table class="table">
    <tr>
      <th>Playlist Title</th>
      <th>Description</th>
      <th>Tags</th>
    </tr>
  <%  @playlists.order("created_at DESC").each do |pl| %>
    <tr >
      <td><%= link_to image_tag(pl.thumbnail_url), pl %><br/><%= pl.title %></td>
      <td><%= pl.description %></td>
      <td><%= pl.tags %></td>
    </tr>
  <%  end %>
</table>
<% end %>

<% if @videos %>
  <table class="table">
    <tr>
      <th>Video Title</th>
      <th>Description</th>
      <th>View</th>
    </tr>
  <%  @videos.order("created_at DESC").first(10).each do |v| %>
    <tr >
      <td><%= link_to image_tag(v.thumbnail_url), v %><br/><%= v.title %></td>
      <td><%= v.description %></td>
      <td><%= v.created_at %></td>
    </tr>
  <%  end %>
</table>
<% end %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              channels_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_channel_path(@channel), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              channel_path(@channel),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
