<%- model_class = Video -%> 
<p class="pull-right">At <%= Time.now.getlocal.strftime("%F %R") %>, refresh every 3hrs</p>
<div class="page-header">
  <h1>Videos Dashboard <small>비디오 대시보드</small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th>Creator</th>
      <th>Video</th>
      
      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @videos.each_with_index do |v, i| %>
    <% delta = v.video_statistics.offset(1).last %>
    <tr  onClick=document.location=<%= "'#{video_path(v)}'" %>; style="cursor: pointer;">
      <td><%= (@videos.current_page - 1) * @videos.per_page + i + 1 %></td>
      <td><%= image_tag(v.channel.thumbnail_url, :class => "media-object", :style => "width:64px; height: 64px;") %></td>
      <td >
        <div class="media">
          <div class="media-left pull-left">
            <a href="<%= video_path(v) %>">
              <%= image_tag(v.thumbnail_url, :class => "media-object") %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= v.title %></h4>
            <p><%= v.description %></p>
            <%= "From #{v.published_at.to_date}" if v.published_at %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @videos, renderer: BootstrapPagination::Rails %>