<%- model_class = Video -%> 
<div class="page-header">
  <h1>Videos Dashboard <small>Refresh every 3hrs</small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th>Creator</th>
      <th>Video</th>
      
      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @videos.each_with_index do |v, i| %>
    <% delta = v.video_statistics.offset(1).last %>
    <tr  >
      <td><%= i+1 %></td>
      <td><%= link_to image_tag(v.channel.thumbnail_url, :class => "media-object", :style => "width:64px; height: 64px;"), channel_path(v.channel) %></td>
      <td>
        <div class="media">
          <div class="media-left pull-left">
            <a href="<%= video_path(v) %>">
              <%= image_tag(v.thumbnail_url, :class => "media-object") %>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= v.title %></h4>
            <p><%= v.description %></p>
            <%= "From #{v.published_at.to_date}" if v.published_at %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>