<%- model_class = Video -%>
<p class="pull-right">At <%= Time.now.getlocal.strftime("%F %R") %>, refresh every 3hrs</p>
<div class="page-header">
  <h1><%= @video.title %> <small>by <%= link_to @video.channel.title, channel_path(@video.channel) %></small></h1>
</div>
<h2><%= link_to image_tag(@video.channel.thumbnail_url, :class => "media-object", :style => "width:64px; height: 64px;"), channel_path(@video.channel) %></h2>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @video.v_id %>"></iframe>
</div>
<%= line_chart [
            {name: "Views", data: @video_stats.group_by_day(:created_at).maximum("view_count")},
            {name: "Likes", data: @video_stats.group_by_day(:created_at).maximum("like_count")}, 
            {name: "Dislikes", data: @video_stats.group_by_day(:created_at).maximum("dislike_count")}, 
            {name: "Favorites", data: @video_stats.group_by_day(:created_at).maximum("favorite_count")}, 
            {name: "Comments", data: @video_stats.group_by_day(:created_at).maximum("comment_count")}
              ] %>
<% if @video_stats %>
<h3>Stats <small>Video 통계</small></h3>
<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th style="text-align:right;">View #</th>
    <th style="text-align:right;">Like #</th>
    <th style="text-align:right;">Dislike #</th>
    <th style="text-align:right;">Favorite #</th>
    <th style="text-align:right;">Comment #</th>
  </tr>

<% delta = @video_stats.first %>
<% @video_stats.each_with_index do |stat, i| %>
  <tr >
    <td><%= stat.created_at.getlocal.strftime("%F %R") %></td>
    <td style="text-align:right;"><%= number_with_delimiter(stat.view_count) %><%= num_diff(stat.view_count, delta.view_count) if delta && i != 0  %></td>
    <td style="text-align:right;"><%= number_with_delimiter(stat.like_count) %><%= num_diff(stat.like_count, delta.like_count) if delta && i != 0  %></td>
    <td style="text-align:right;"><%= number_with_delimiter(stat.dislike_count) %><%= num_diff(stat.dislike_count, delta.dislike_count) if delta && i != 0  %></td>
    <td style="text-align:right;"><%= number_with_delimiter(stat.favorite_count) %><%= num_diff(stat.favorite_count, delta.favorite_count) if delta && i != 0  %></td>
    <td style="text-align:right;"><%= number_with_delimiter(stat.comment_count) %><%= num_diff(stat.comment_count, delta.comment_count) if delta && i != 0  %></td>
    
  </tr>

<% delta = stat %>
<%  end %>
</table>
<% end %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              videos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_video_path(@video), :class => 'btn btn-default' %>
<!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              video_path(@video),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> -->
