<%- model_class = Channel -%> 
<h2>Beautymeets Dashboard <small>뷰티밋츠 대시보드</small></h2>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<h5>
				Total Videos : <span class="pull-right"><%= number_with_delimiter(@channels.pluck(:video_count).compact.reduce(:+)) %></span><br/>
				Total Subscribers : <span class="pull-right"><%= number_with_delimiter(@channels.pluck(:subscriber_count).compact.reduce(:+)) %></span><br/>
				Total Views : <span class="pull-right"><%= number_with_delimiter(@channels.pluck(:view_count).compact.reduce(:+)) %></span>
			</h5>
		</div>
	</div>
    <div class="row">
    <% totla_delta = Hash.new %>	
    <% @channels.each_with_index do |channel, i| %>
    <% delta = channel.channel_statistics.offset(1).last %>

	<div class="col-sm-6 col-md-4">
	    <div class="thumbnail" style="min-height:240px;">
	    	<!-- <a href="<%= channel_path(channel) %>"><%= image_tag(channel.thumbnail_url) %></a> -->
	      <div class="caption">
	      	<div class="media">
          		<div class="media-left pull-left">
		          	<a href="<%= channel_path(channel) %>"><%= image_tag(channel.thumbnail_url) %></a>
		        </div>
		        <div class="media-body">
		            <h4 class="media-heading"><a href="<%= channel_path(channel) %>"><%= channel.title %><a/></h4>
		            <p>
			        	<%= "Video : " %><span class="pull-right"><%= number_with_delimiter(channel.video_count) if channel.video_count %><%= num_diff(channel.video_count, delta.video_count) if delta %></span><br/>
			        	<%= "Subscriber : "%><span class="pull-right"><%= number_with_delimiter(channel.subscriber_count) if channel.subscriber_count %><%= num_diff(channel.subscriber_count, delta.subscriber_count) if delta %></span><br/>
			        	<%= "Views : " %><span class="pull-right"><%= number_with_delimiter(channel.view_count) if channel.view_count %><%= num_diff(channel.view_count, delta.view_count) if delta %></span>
					</p>
		        </div>
		    </div>
	        <h5>Latest Video</h5>
	        <div class="media">
          		<div class="media-left pull-left">
		          	<a href="<%= video_path(channel.videos.last) %>">
		              <%= image_tag(channel.videos.last.thumbnail_url, :style=>"height:60px; width:auto; ") %>
		            </a>
		        </div>
		        <div class="media-body">
		            <h5 class="media-heading"><a href="<%= video_path(channel.videos.last) %>"><%= channel.videos.last.title %></a></h5>
		            <!--<div class="pull-right"><%= "Uploaded at #{channel.videos.last.published_at.getlocal.strftime("%F %R")}" if channel.videos.last.published_at %></div>-->
		        </div>
		    </div>
	      </div>
	    </div>
	  </div>
    <% end %>

	</div>
<div class="container text-center">
  <%= will_paginate @channels, renderer: BootstrapPagination::Rails %>
</div>
