<p id="notice"><%= notice %></p>

<h1><%= @region.name %> <small><%= @region.code %></small></h1>

<h3>Stats <small>Top 10 지역 통계</small></h3>

<h4>Subscribers <small>구독자 통계</small></h4>
<%= pie_chart @region.channels.order("subscriber_count DESC").group(:title).maximum("subscriber_count").first(10) %>
<h4>Videos <small>비디오 조회 통계</small></h4>
<%= pie_chart @region.channels.order("view_count DESC").group(:title).maximum("view_count").first(10) %>

<h4>Monthly Statics<small>월별 통계</small></h4>
<h5>Subscribers<small>구독자</small></h5>
<%= line_chart @region.region_statistics.group_by_month(:created_at).maximum("subscriber_count"), min: (@region.region_statistics.pluck(:subscriber_count).min.to_f / 10).round * 10 - 5, max: (@region.region_statistics.pluck(:subscriber_count).max.to_f / 10).ceil * 10 + 5  %>
<h5>Views<small>조회수</small></h5>
<%= line_chart @region.region_statistics.group_by_month(:created_at).maximum("view_count"), min: (@region.region_statistics.pluck(:view_count).min.to_f / 10).round * 10 - 5, max: (@region.region_statistics.pluck(:view_count).max.to_f / 10).ceil * 10 + 5  %>

<%= render partial: 'channels/channels'  %>
<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
