<!DOCTYPE html>
<html>
<head>
  <title>Lab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="/">
        <img alt="Brand" src="...">
      </a>
  -->
      <p class="navbar-text"><%= link_to "Beautymeets", root_path %></p>
    </div>
  </div>
</nav>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
